<header class="welkom">
  <h1>Welcome {{ userInSession.username }}</h1>
   <div>
    <form id="create-book" action="stories/create" method="GET">
      <button class="btn btn-secondary btn-lg">Create story</button>
    </form>
  </div>
</header>

<br>
<main class="stories">
  <h2>My Stories</h2>
  <hr>

<div class="story-cards">
  {{#each stories.stories}}
  <div class="card" style="width: 18rem;">
    <img src="images/story-book.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{this.title}}</h5>
      <p class="card-text story-sum">{{this.description}}</p>
      <div class="book-modify-btn">
      <a href="/stories/{{id}}" class="btn btn-secondary">Read story</a>
      <a href="/stories/{{id}}/edit" class="btn btn-secondary">Edit</a>
      
      <form action="/stories/{{id}}/delete" method="POST">
        <button onclick="return confirm('Are you sure you want to delete this story?');" type="submit" class="btn btn-secondary">Delete</button>
      </form>
      </div>
    </div>
  </div>
  {{/each}}
  </div>

</main>

