{{#if userInSession}}
<header class="welkom">
    <h2>Welcome {{ userInSession.username }}</h2>
    <p>This is your profile page!</p>
</header>

<h3>Stories</h3>
<hr>
 
{{#each stories.stories}}
  <div>
    <h4>{{this.title}}</h4>
    <a href="/stories/{{id}}">See details</a>
    <a href="/stories/{{id}}/edit">Edit</a> 
     <form action="/stories/{{id}}/delete" method="POST"> 
      <button>Delete</button>
    </form>
  </div>
  <hr>
{{/each}}

<div class="d-grid gap-2 col-6 mx-auto">
    <form id="create-book" action="stories/create" method="GET">
        <button class="btn btn-primary">Create story</button>
    </form>
</div>

<div class="d-grid gap-2 col-6 mx-auto">
    <form id="logout-form" action="/logout" method="POST">
        <button class="btn btn-primary">Logout</button>
    </form>
</div>

{{else}}
<p>You are not logged in</p>
{{/if}}